<form action="/cart" method="post">
    <hidden type="hidden" name="_csrf" value="<%= csrfToken %>"></hidden>
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>